@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
    url('../fonts/Gilroy-Extrabold.woff') format('woff'),
    url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Unbounded', sans-serif;*/


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  color: #0F1217;
}

header {
  height: 80px;
  background: #F6F6F6;
}

header .logo a,
footer .logo a {
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
  line-height: 32px;
  color: #0F1217;
}

header .wrapper,
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .logo b,
footer .logo b {
  color: #303D4B;
}

header ul,
footer ul {
  display: flex;
  align-items: center;
}

header ul li,
footer ul li {
  margin-right: 32px;
}

header ul li:nth-last-of-type(1),
footer ul li:nth-last-of-type(1) {
  margin-right: 0;
}

header ul li a,
footer ul li a {
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #0F1217;
  font-weight: 400;
}

header ul li:nth-of-type(1) a,
footer ul li:nth-of-type(1) a {
  font-weight: 700;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.open-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 48px;
  border: 1px solid #303D4B;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #303D4B;
  font-family: 'Gilroy', sans-serif;
}

.titleContainerLeft {
  width: 50%;
}

.titleContainer {
  position: relative;
  height: 820px;
  background: #F6F6F6;
}

.titleContainer .wrapper {
  padding-top: 103px;
  height: 100%;
}

.navBurger {
  display: none;
}

.body.active {
  overflow: hidden;
}

.burger {
  display: none;
}

.burger {
  position: fixed;
  top: 29px;
  right: 16px;
  width: 40px;
  height: 22px;
  background: none;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;
}

.burger span {
  position: absolute;
  left: 50%;
  width: 34px;
  height: 4px;
  background: #303D4B;
  border-radius: 50px;
}

.burger span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) translateY(0);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger span:nth-of-type(2) {
  top: 8px;
  opacity: 1;
  transform: translateX(-50%);
}

.burger span:nth-of-type(3) {
  top: 16px;
  transform: translateX(-50%) translateY(0);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.open span:nth-of-type(1) {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(45deg);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger.open span:nth-of-type(2) {
  opacity: 0;
}

.burger.open span:nth-of-type(3) {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(-45deg);
  transition: bottom .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

nav {
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 100;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  background: #F6F6F6;
  transform: translateX(100%);
  transition: all .2s ease-out;
}

nav ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul li {
  padding: 12px 0;
}

.linkBurger {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0F1217;
  text-decoration: none;
}

nav.open {
  transform: translateX(0);
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.titleContainerRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.titleContainerLeft h1 {
  font-weight: 700;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 16px;
}

.titleContainerText {
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  color: #0F1217;
  padding-right: 20px;
  margin-bottom: 32px;
}

.titleContainerLeft .open-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 48px;
  background: #303D4B;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.titleContainerLeft .open-popup img {
  margin-left: 16px;
}

.titleContainerLeft h1 b {
  color: #878787;
}

.bannerContainerList {
  position: absolute;
  z-index: 2;
  max-width: 580px;
  background: #FFFFFF;
  padding: 24px 16px;
  bottom: 35px;
  left: 55%;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.titleContainerRight img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.bannerContainerList p {
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 16px;
}

.bannerContainerList ul {
  list-style: disc;
  padding-left: 20px;
}

.bannerContainerList ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0F1217;
  margin-bottom: 8px;
}

.bannerContainerList ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.bannerContainerList span {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #878787;
}

.cardContainer {
  padding: 80px 0;
  background: #F6F6F6;
}

.cardContainer .wrapper h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 40px;
}

.cardSection {
  display: flex;
  justify-content: space-between;
}

.cardBlock {
  width: 24%;
  padding: 24px 16px;
  background: #FFFFFF;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0F1217;
  min-height: 202px;
  position: relative;
}

.reacaptha {
  margin-top: 17px;
}

.cardBlock:nth-of-type(1):after {
  content: "1";
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(135, 135, 135, 0.07);
  position: absolute;
  top: 0;
  left: 10px;
}

.cardBlock:nth-of-type(2):after {
  content: "2";
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(135, 135, 135, 0.07);
  position: absolute;
  top: 0;
  left: 10px;
}

.cardBlock:nth-of-type(3):after {
  content: "3";
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(135, 135, 135, 0.07);
  position: absolute;
  top: 0;
  left: 10px;
}

.cardBlock:nth-of-type(4):after {
  content: "4";
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(135, 135, 135, 0.07);
  position: absolute;
  top: 0;
  left: 10px;
}

.cardBlock b {
  font-weight: 700;
}

.requiredDocuments {
  padding: 120px 0 80px 0;
}

.requiredDocumentsLeft h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 40px;
}

.requiredDocumentsLeftText {
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #0F1217;
  margin-bottom: 16px;
}

.requiredDocuments .wrapper {
  display: flex;
}

.requiredDocumentsLeft {
  width: 50%;
  margin-right: 20px;
}

.requiredDocumentsRight {
  width: 50%;
}

.requiredDocumentsLeft ul {
  list-style: disc;
  padding-left: 20px;
}

.requiredDocumentsLeft ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0F1217;
}

.requiredDocumentsRight img {
  max-width: 100%;
  width: 100%;
}

.ways {
  padding-bottom: 120px;
}

.ways .wrapper h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  width: 50%;
  margin-bottom: 40px;
  padding-right: 20px;
  box-sizing: border-box;
}

.waysContaier {
  display: flex;
}

.waysContaierLeft {
  width: 50%;
  margin-right: 20px;
}

.waysContaierRight {
  width: 50%;
}

.waysContaierLeft h3,
.waysContaierRight h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  color: #0F1217;
  margin-bottom: 16px;
}

.waysContaierLeft ul,
.waysContaierRight ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 16px;
}

.waysContaierLeft ul li,
.waysContaierRight ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0F1217;
}

.waysContaierLeftImg {
  width: 100%;
  height: 260px;
}

.waysContaierLeftImg img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.waysContaierRight p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #878787;
  margin-bottom: 16px;
}

.waysContaierRight p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.faq {
  padding: 120px 0;
}

.faq .wrapper h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 40px;
}





















.accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(135, 135, 135, 0.5);
  border-radius: 5px;
  padding: 16px 56px 16px 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.accordion-header::before {
  content: "";
  background: url(../img/acardion.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 22px;
  top: 22px;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.accordion-item.active .accordion-header::before {
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.accordion-item.active .accordion-header {
  border: none;
  background: #F6F6F6;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.accordion-item.active .accordion-header h3 {
  text-overflow: unset;
  white-space: unset;
}

.accordion-item.active {
  padding: 16px;
  background: #F6F6F6;
  border: 1px solid rgba(135, 135, 135, 0.5);
  border-radius: 5px;
  margin-bottom: 8px;
}

.accordion-header h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #303D4B;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.accordion-content {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #878787;
  padding: 16px 56px 16px 16px;
  box-sizing: border-box;
}

.accordion-item.active .accordion-content {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.reacaptha {
  width: 100%;
}

.popup-content h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #0F1217;
  margin-bottom: 16px;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
}

.close-popup img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.popup-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #0F1217;
  margin-bottom: 24px;
}

.reacaptha img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  width: 410px;
  background: #FFFFFF;
  box-shadow: 2px 2px 21px rgba(155, 155, 155, 0.25);
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 10px;
}

.contact {
  padding: 120px 0;
  background: #F6F6F6;
}

.contact .wrapper>h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 130%;
  color: #0F1217;
  margin-bottom: 40px;
}

.contactContainer {
  display: flex;
}

.contactLeft {
  width: 50%;
  margin-right: 20px;
}

.iconInput:nth-of-type(1):after {
  content: "";
  background: url(../img/inputName.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 16.5px;
}

.iconInput:nth-of-type(2):after {
  content: "";
  background: url(../img/inputTel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 16.5px;
}

.contactRight {
  width: 480px;
  padding: 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 2px 2px 21px rgba(155, 155, 155, 0.25);
}

.contactRight>h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #0F1217;
  margin-bottom: 0;
}

.contactRight p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #878787;
  margin-bottom: 24px;
}

.contactLeft>p {
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  color: #0F1217;
  margin-bottom: 25px;
  width: 80%;
}

.contactRight form {
  width: 100%;
}

.iconInput {
  width: 100%;
  position: relative;
}

.iconInput input {
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  padding: 16px 16px 16px 44px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #BCBCBC;
  font-family: 'Gilroy', sans-serif;
}

.iconInput:nth-last-of-type(1) input {
  margin-bottom: 0;
}

.iconInput input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #BCBCBC;
  font-family: 'Gilroy', sans-serif;
}

.contactLeft ul li {
  margin-bottom: 16px;
}

.contactLeft ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.contactLeft ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #0F1217;
}

.contactLeft ul li a img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.contactInfo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #878787;
  width: 85%;
  margin-bottom: 16px;
}

.contactInfo p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.contactInfo {
  margin-top: 24px;
}

.inputSubmitIcon {
  width: 100%;
  display: flex;
  align-content: center;
}

.inputSubmitIcon button {
  height: 53px;
  border: none;
  background: #303D4B;
  border: none;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  color: #FFFFFF;
  padding: 0;
  margin-top: 24px;
}

.inputSubmitIcon button img {
  margin-left: 16px;
}

footer {
  height: 80px;
  background: #F6F6F6;
}

.footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardSliderPrev,
.cardSliderNext {
  display: none;
}

.bannerDesctop {
  display: block;
}

.bannerMobile {
  display: none;
}





@media (max-width: 1200px) {
  .wrapper {
    max-width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
  }

  .bannerContainerList {
    left: auto;
    right: 20px;
    transform: none;
  }

  .titleContainerLeft h1 {
    font-size: 30px;
  }

  .titleContainer {
    height: 700px;
  }

  .ways .wrapper h2 {
    width: 100%;
  }

  .cardBlock:after {
    font-size: 150px !important;
  }
}







@media (max-width: 991px) {
  .wrapper {
    padding: 0 16px;
  }

  header .wrapper>button {
    width: 150px;
  }

  header ul li,
  footer ul li {
    margin-right: 16px;
  }

  .titleContainerLeft {
    width: 100%;
  }

  .titleContainer .wrapper {
    padding-top: 40px;
  }

  .titleContainerRight {
    position: static;
    margin-top: 36px;
    width: 100%;
    height: 344px;
  }

  .titleContainer {
    height: auto;
  }

  .bannerContainerList {
    width: 96%;
    max-width: 100%;
    left: 16px;
    bottom: -140px;
    right: 16px;
    box-sizing: border-box;
  }

  .cardContainer {
    padding-top: 170px;
  }

  .cardContainer .wrapper h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cardSection {
    flex-wrap: wrap;
  }

  .cardBlock {
    width: 49%;
    margin-bottom: 20px;
    min-height: 150px;
  }

  .cardContainer {
    padding-bottom: 40px;
  }

  .requiredDocuments {
    padding: 40px 0;
  }

  .requiredDocumentsLeft h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .requiredDocumentsLeftText {
    font-size: 18px;
  }

  .ways .wrapper h2 {
    padding-right: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .waysContaierLeft h3,
  .waysContaierRight h3 {
    font-size: 18px;
  }

  .ways {
    padding-bottom: 40px;
  }

  .faq {
    padding: 40px 0;
  }

  .faq .wrapper h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .accordion-header h3 {
    font-size: 18px;
  }

  .contact {
    padding: 40px 0;
  }

  .contact .wrapper>h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .contactLeft>p {
    width: 100%;
  }

  .contactRight {
    height: max-content;
  }

  .contactInfo p {
    width: 100%;
    font-size: 14px;
    margin-bottom: 8px;
  }

  footer .wrapper>button {
    width: 150px;
  }

  .waysContaierRight p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .requiredDocumentsRight img {
    height: 100%;
  }
}








@media (max-width: 767px) {
  .navBurger {
    display: block;
  }

  .burger {
    display: block;
    position: absolute;
  }

  header .wrapper>ul {
    display: none;
  }

  header .wrapper>button {
    display: none;
  }

  header .wrapper {
    position: relative;
  }

  .titleContainerLeft h1 {
    font-size: 25px;
    margin-bottom: 16px;
  }

  .titleContainerText {
    font-size: 16px;
    padding-right: 0;
  }

  .bannerContainerList {
    padding: 24px 16px;
    width: 90%;
    bottom: -300px;
  }

  .bannerContainerList p {
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 16px;
  }

  .bannerContainerList ul li {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  .cardContainer {
    padding-top: 0px;
    margin-top: 300px;
  }

  .cardContainer .wrapper h2 {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .cardBlock {
    margin-bottom: 40px;
  }

  .cardSliderDots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardSliderDots ul {
    display: flex;
    align-items: center;
  }

  .cardSliderDots ul li {
    width: 6px;
    height: 6px;
    background: #878787;
    border-radius: 50%;
    padding: 0;
    margin-right: 6px;
  }

  .cardSliderDots ul li:nth-last-of-type(1) {
    margin-right: 0;
  }

  .cardSliderDots ul li button {
    background: transparent;
    border: none;
    font-size: 0;
  }

  .cardSliderDots ul .slick-active {
    background: #303D4B;
  }

  .cardContainer {
    position: relative;
  }

  .cardSliderPrev {
    position: absolute;
    top: 50%;
    left: -5px;
  }

  .cardSliderNext {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: rotate(-180deg);
  }

  .cardContainer {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
  }

  .requiredDocuments {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .requiredDocuments .wrapper {
    flex-direction: column;
  }

  .requiredDocumentsLeft {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .requiredDocumentsRight {
    width: 100%;
    height: 308px;
  }

  .requiredDocumentsLeft h2 {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .ways .wrapper h2 {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .waysContaier {
    flex-direction: column;
  }

  .waysContaierLeft {
    width: 100%;
    margin-right: 0;
  }

  .waysContaierRight {
    width: 100%;
    margin-top: 16px;
  }

  .waysContaierRight p {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  .ways {
    padding-bottom: 60px;
  }

  .faq {
    padding: 60px 0;
  }

  .faq .wrapper h2 {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .contact {
    padding: 60px 0;
  }

  .contact .wrapper>h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #0F1217;
    margin-bottom: 40px;
  }

  .contactContainer {
    flex-direction: column;
  }

  .contactLeft {
    width: 100%;
    margin-right: 0;
  }

  .contactLeft>p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
  }

  .contactInfo p {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .contactRight {
    margin-top: 20px;
    width: 100%;
  }

  .contactRight>h2 {
    font-size: 18px;
    line-height: 120%;
  }

  .contactRight p {
    font-size: 18px;
    line-height: 120%;
  }

  footer {
    padding: 32px 0;
    height: auto;
  }

  footer .wrapper {
    flex-direction: column;
  }

  footer .wrapper .logo {
    margin-bottom: 24px;
  }

  footer .wrapper ul {
    flex-direction: column;
  }

  footer .wrapper ul li {
    margin-bottom: 32px;
    margin-right: 0;
  }

  footer .wrapper>button {
    width: 343px;
  }

  .accordion-content {
    padding: 16px 30px 16px 5px;
  }

  .titleContainerText {
    width: 83%;
  }

  .titleContainerLeft .open-popup {
    min-width: 343px;
  }

  .bannerDesctop {
    display: none;
  }

  .bannerMobile {
    display: block;
  }
}



@media (max-width: 576px) {
  .popup-content {
    width: 90%;
  }

  .popup-content h2 {
    font-size: 18px;
    line-height: 110%;
    margin-bottom: 16px
  }

  .popup-content p {
    font-size: 16px;
    line-height: 140%;
  }
}

@media (max-width: 374px) {
  .titleContainerLeft .open-popup {
    min-width: 100%;
  }

  footer .wrapper>button {
    width: 100%;
  }
}